<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Home Page</title>
  <!-- Arquivos estáticos -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
</head>

<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <!-- Logo ou título -->
        <a class="navbar-brand" href="#">Blog</a>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

  <!-- Main Content -->
  <main>
    <div class="container mt-5">
      <!-- Listar Posts -->
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{{ post.imagem.url }}" class="img-fluid" />
              <a href="{% url 'post_detail' post.id %}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.titulo }}</h5>
              <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Leia +</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>

  <!-- Scripts -->
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>
